// ================================= 
//   BASE
// =================================

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(26,187,230);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}
  
a {
	text-decoration: none;
}

input {
    display: inline-block;
}

canvas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    background-color: $white;
	@media (min-width:$break-xs) {
		border-left: get55Per(1px) solid $color-primary;
		border-right: get55Per(1px) solid $color-primary;
		border-bottom: get55Per(1px) solid $color-primary;
	}
	@media (min-width:$break-s) {
		border-left: get65Per(1px) solid $color-primary;
		border-right: get65Per(1px) solid $color-primary;
		border-bottom: get65Per(1px) solid $color-primary;
	}
	@media (min-width:$break-m) {
		border-left: get75Per(1px) solid $color-primary;
		border-right: get75Per(1px) solid $color-primary;
		border-bottom: get75Per(1px) solid $color-primary;
	}
	@media (min-width:$break-l) {
		border-left: get85Per(1px) solid $color-primary;
		border-right: get85Per(1px) solid $color-primary;
		border-bottom: get85Per(1px) solid $color-primary;
	}
	@media (min-width:$break-xl) {
		border-left: get90Per(1px) solid $color-primary;
		border-right: get90Per(1px) solid $color-primary;
		border-bottom: get90Per(1px) solid $color-primary;
	}
	@media (min-width:$break-xxl) {
		border-left: 1px solid $color-primary;
		border-right: 1px solid $color-primary;
		border-bottom: 1px solid $color-primary;
	}
}