// ================================= 
//   BASE
// =================================

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(26,187,230);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}
  
a {
	text-decoration: none;
}

input {
    display: inline-block;
}

canvas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    background-color: $white;
	@media (min-width:$break-xs) {
		@include canvasBorder(get55Per(1px));
	}
	@media (min-width:$break-s) {
		@include canvasBorder(get65Per(1px));
	}
	@media (min-width:$break-m) {
		@include canvasBorder(get75Per(1px));
	}
	@media (min-width:$break-l) {
		@include canvasBorder(get85Per(1px));
	}
	@media (min-width:$break-xl) {
		@include canvasBorder(get90Per(1px));
	}
	@media (min-width:$break-xxl) {
		@include canvasBorder(1px);
	}
}