// ================================= 
//   ABOUT
// =================================

#about-wrapper {
    font-family: $font-stack-primary;
    font-weight: $weight-s;
}

#start-container,
#dataend-container,
.dataset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataset {
    .answer {
        color: $color-secondary;
        @media (min-width: $break-xs) {
            font-size: get55Per(1.60em);
        }
        @media (min-width: $break-s) {
            font-size: get65Per(1.60em);
        }
        @media (min-width: $break-m) {
            font-size: get75Per(1.60em);
        }
        @media (min-width: $break-l) {
            font-size: get85Per(1.60em);
        }
        @media (min-width: $break-xl) {
            font-size: get90Per(1.60em);
        }
        @media (min-width: $break-xxl) {
            font-size: 1.60em;
        }
    }
    .question {
        color: $black;
    }
}

.question,
#dataend-start {
    @media (min-width: $break-xs) {
        font-size: get55Per(1.15em);
    }
    @media (min-width: $break-s) {
        font-size: get65Per(1.15em);
    }
    @media (min-width: $break-m) {
        font-size: get75Per(1.15em);
    }
    @media (min-width: $break-l) {
        font-size: get85Per(1.15em);
    }
    @media (min-width: $break-xl) {
        font-size: get90Per(1.15em);
    }
    @media (min-width: $break-xxl) {
        font-size: 1.15em;
    }
}

.question,
.answer,
#dataend-start {
    @media (min-width: $break-xs) {
        margin-top: get55Per(20px);
    }
    @media (min-width: $break-s) {
        margin-top: get65Per(20px);
    }
    @media (min-width: $break-m) {
        margin-top: get75Per(20px);
    }
    @media (min-width: $break-l) {
        margin-top: get85Per(20px);
    }
    @media (min-width: $break-xl) {
        margin-top: get90Per(20px);
    }
    @media (min-width: $break-xxl) {
        margin-top: 20px;
    }
}

#dataend-container {
    #dataend-end {
        color: $color-secondary;
        font-weight: $weight-s;
        cursor: pointer;
        @media (min-width: $break-xs) {
            font-size: get55Per(1.45em);
        }
        @media (min-width: $break-s) {
            font-size: get65Per(1.45em);
        }
        @media (min-width: $break-m) {
            font-size: get75Per(1.45em);
        }
        @media (min-width: $break-l) {
            font-size: get85Per(1.45em);
        }
        @media (min-width: $break-xl) {
            font-size: get90Per(1.45em);
        }
        @media (min-width: $break-xxl) {
            font-size: 1.45em;
        }
        &:hover {
            color: $color-primary;
        }
    }
    #dataend-quote {
        @media (min-width: $break-xs) {
            font-size: get55Per(1em);
            margin-top: get55Per(10px);
        }
        @media (min-width: $break-s) {
            font-size: get65Per(1em);
            margin-top: get65Per(10px);
        }
        @media (min-width: $break-m) {
            font-size: get75Per(1em);
            margin-top: get75Per(10px);
        }
        @media (min-width: $break-l) {
            font-size: get85Per(1em);
            margin-top: get85Per(10px);
        }
        @media (min-width: $break-xl) {
            font-size: get90Per(1em);
            margin-top: get90Per(10px);
        }
        @media (min-width: $break-xxl) {
            font-size: 1em;
            margin-top: 10px;
        }
    }
}

#dataend-end,
#dataset-container {
    @media (min-width: $break-xs) {
        margin-top: get55Per(40px);
    }
    @media (min-width: $break-s) {
        margin-top: get65Per(40px);
    }
    @media (min-width: $break-m) {
        margin-top: get75Per(40px);
    }
    @media (min-width: $break-l) {
        margin-top: get85Per(40px);
    }
    @media (min-width: $break-xl) {
        margin-top: get90Per(40px);
    }
    @media (min-width: $break-xxl) {
        margin-top: 40px;
    }
}