// ================================= 
//   HEADER
// =================================

.header-container {
  @media (min-width:$break-xs) {
    border-bottom: get55Per(1px) solid $color-primary;
  }
  @media (min-width:$break-s) {
    border-bottom: get65Per(1px) solid $color-primary;
  }
  @media (min-width:$break-m) {
    border-bottom: get75Per(1px) solid $color-primary;
  }
  @media (min-width:$break-l) {
    border-bottom: get85Per(1px) solid $color-primary;
  }
  @media (min-width:$break-xl) {
    border-bottom: get90Per(1px) solid $color-primary;
  }
  @media (min-width:$break-xxl) {
    border-bottom: 1px solid $color-primary;
  }
}

.top-header {
  background-color: rgb(16,167,210);
  @media (min-width:$break-xs) {
    border-bottom: get55Per(1px) solid $color-primary;
  }
  @media (min-width:$break-s) {
    border-bottom: get65Per(1px) solid $color-primary;
  }
  @media (min-width:$break-m) {
    border-bottom: get75Per(1px) solid $color-primary;
  }
  @media (min-width:$break-l) {
    border-bottom: get85Per(1px) solid $color-primary;
  }
  @media (min-width:$break-xl) {
    border-bottom: get90Per(1px) solid $color-primary;
  }
  @media (min-width:$break-xxl) {
    border-bottom: 1px solid $color-primary;
  }
}

.main-header {
  @media (min-width:$break-xs) {
    padding-top: get55Per(0.5em);
  }
  @media (min-width:$break-s) {
    padding-top: get65Per(0.5em);
  }
  @media (min-width:$break-m) {
    padding-top: get75Per(0.5em);
  }
  @media (min-width:$break-l) {
    padding-top: get85Per(0.5em);
  }
  @media (min-width:$break-xl) {
    padding-top: get90Per(0.5em);
  }
  @media (min-width:$break-xxl) {
    padding-top: 0.5em;
  }
}

.top-nav {
  @include flexProps($dir: row, $just: flex-end, $align: center);
  font-family: $font-stack-primary;
  font-weight: $weight-s;
  @media (min-width:$break-xs) {
    padding-top: get55Per(2.5px);
    font-size: get55Per(0.75em);
  }
  @media (min-width:$break-s) {
    padding-top: get65Per(2.5px);
    font-size: get65Per(0.75em);
  }
  @media (min-width:$break-m) {
    padding-top: get75Per(2.5px);
    font-size: get75Per(0.75em);
  }
  @media (min-width:$break-l) {
    padding-top: get85Per(2.5px);
    font-size: get85Per(0.75em);
  }
  @media (min-width:$break-xl) {
    padding-top: get90Per(2.5px);
    font-size: get90Per(0.75em);
  }
  @media (min-width:$break-xxl) {
    padding-top: 2.5px;
    font-size: 0.75em;
  }
  a {
    text-align: center;
    display: block;
    color: rgb(4,0,6);
    cursor: pointer;
    @media (min-width:$break-xs) {
      padding: get55Per(5px) get55Per(12.5px);
    }
    @media (min-width:$break-s) {
      padding: get65Per(5px) get65Per(12.5px);
    }
    @media (min-width:$break-m) {
      padding: get75Per(5px) get75Per(12.5px);
    }
    @media (min-width:$break-l) {
      padding: get85Per(5px) get85Per(12.5px);
    }
    @media (min-width:$break-xl) {
      padding: get90Per(5px) get90Per(12.5px);
    }
    @media (min-width:$break-xxl) {
      padding: 5px 12.5px;
    }
    &:hover {
      color: $white;
    }
  }
}

.main-nav {
  font-family: $font-stack-primary;
  font-weight: $weight-s;
  @include flexProps($just: center);
  @media (min-width:$break-xs) {
    padding: get55Per(10px) get55Per(15px);
    margin-left: get55Per(5px);
    font-size: get55Per(0.9em);
  }
  @media (min-width:$break-s) {
    padding: get65Per(10px) get65Per(15px);
    margin-left: get65Per(5px);
    font-size: get65Per(0.9em);
  }
  @media (min-width:$break-m) {
    padding: get75Per(10px) get75Per(15px);
    margin-left: get75Per(5px);
    font-size: get75Per(0.9em);
  }
  @media (min-width:$break-l) {
    padding: get85Per(10px) get85Per(15px);
    margin-left: get85Per(5px);
    font-size: get85Per(0.9em);
  }
  @media (min-width:$break-xl) {
    padding: get90Per(10px) get90Per(15px);
    margin-left: get90Per(5px);
    font-size: get90Per(0.9em);
  }
  @media (min-width:$break-xxl) {
    padding: 10px 15px;
    margin-left: 5px;
    font-size: 0.9em;
  }
  a {
    text-align: center;
    display: block;
    @media (min-width:$break-xs) {
      padding: get55Per(7px) get55Per(22.5px);
      letter-spacing: get55Per(1px);
    }
    @media (min-width:$break-s) {
      padding: get65Per(7px) get65Per(22.5px);
      letter-spacing: get65Per(1px);
    }
    @media (min-width:$break-m) {
      padding: get75Per(7px) get75Per(22.5px);
      letter-spacing: get75Per(1px);
    }
    @media (min-width:$break-l) {
      padding: get85Per(7px) get85Per(22.5px);
      letter-spacing: get85Per(1px);
    }
    @media (min-width:$break-xl) {
      padding: get90Per(7px) get90Per(22.5px);
      letter-spacing: get90Per(1px);
    }
    @media (min-width:$break-xxl) {
      padding: 7px 22.5px;
      letter-spacing: 1px;
    }
    &.active {
      color: $white;
    }
    &:not(.active) {
      color: rgb(4,0,6);
      &:hover {
        color: rgb(224,224,224);
      }
    }
  }
}

.name {
  margin: 0;
  font-family: $font-stack-primary;
  font-weight: $weight-xxl;
  text-align: center;
  display: block;
  color: $color-primary;
  cursor: default;
  @media (min-width:$break-xs) {
    font-size: get55Per(1em);
    padding: get55Per(5px) get55Per(7.5px);
    font-size: get55Per(2.25em);
    text-shadow: get55Per(3px) get55Per(1px) get55Per(3px) $black;
  }
  @media (min-width:$break-s) {
    font-size: get65Per(1em);
    padding: get65Per(5px) get65Per(7.5px);
    font-size: get65Per(2.25em);
    text-shadow: get65Per(3px) get65Per(1px) get65Per(3px) $black;
  }
  @media (min-width:$break-m) {
    font-size: get75Per(1em);
    padding: get75Per(5px) get75Per(7.5px);
    font-size: get75Per(2.25em);
    text-shadow: get75Per(3px) get75Per(1px) get75Per(3px) $black;
  }
  @media (min-width:$break-l) {
    font-size: get85Per(1em);
    padding: get85Per(5px) get85Per(7.5px);
    font-size: get85Per(2.25em);
    text-shadow: get85Per(3px) get85Per(1px) get85Per(3px) $black;
  }
  @media (min-width:$break-xl) {
    font-size: get90Per(1em);
    padding: get90Per(5px) get90Per(7.5px);
    font-size: get90Per(2.25em);
    text-shadow: get90Per(3px) get90Per(1px) get90Per(3px) $black;
  }
  @media (min-width:$break-xxl) {
    font-size: 1em;
    padding: 5px 7.5px;
    font-size: 2.25em;
    text-shadow: 3px 1px 3px $black;
  }
}