// ================================= 
//   NOT FOUND
// =================================

#image-container {
  @include flexProps($dir: row, $just: center, $align: center);
  width: 100%;
  height: auto;
  @include mediaQ(
    margin-top, 
    get55Per(40px), 
    get65Per(40px), 
    get75Per(40px), 
    get85Per(40px), 
    get90Per(40px), 
    get100Per(40px)
  );
  img {
    width: 45%;
    height: 45%;
    border-radius: 50%;
  }
}