@import url("https://fonts.googleapis.com/css?family=Sniglet:400,800");
/* Base Styles -------------------- */
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #1abbe6; }

/* ================================= 
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
==================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Container.Base - Styles -------------------- */
#about-wrapper {
  font-family: "Sniglet", serif;
  font-weight: 400; }

#about-wrapper #start-container,
#about-wrapper #dataend-container,
.dataset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#dataend-container #dataend-end {
  color: #c80000;
  font-weight: 400;
  cursor: pointer; }

#dataend-container #dataend-end:hover {
  color: #df0c0c; }

.question {
  color: black; }

.answer {
  color: #c80000; }

/* standard styling across all devices - end */
/* media queries */
/* smartphones, iPhone, portrait 480x320 phones (55%) */
@media (min-width: 320px) {
  .dataset .answer {
    font-size: 0.88em; }

  .dataset .question,
  #dataend-container #dataend-start {
    font-size: 0.6325em; }

  .dataset .question,
  .dataset .answer,
  #dataend-container #dataend-start {
    margin-top: 11px; }

  #dataend-container #dataend-end {
    font-size: 0.7975em; }

  #dataend-container #dataend-quote {
    font-size: 0.55em;
    margin-top: 5.5px; }

  #dataend-container #dataend-end,
  #dataset-container {
    margin-top: 22px; } }
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide (65%) */
@media (min-width: 481px) {
  .dataset .answer {
    font-size: 1.04em; }

  .dataset .question,
  #dataend-container #dataend-start {
    font-size: 0.7475em; }

  .dataset .question,
  .dataset .answer,
  #dataend-container #dataend-start {
    margin-top: 13px; }

  #dataend-container #dataend-end {
    font-size: 0.9425em; }

  #dataend-container #dataend-quote {
    font-size: 0.65em;
    margin-top: 6.5x; }

  #dataend-container #dataend-end,
  #dataset-container {
    margin-top: 26px; } }
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones (75%) */
@media (min-width: 641px) {
  .dataset .answer {
    font-size: 1.20em; }

  .dataset .question,
  #dataend-container #dataend-start {
    font-size: 0.8625em; }

  .dataset .question,
  .dataset .answer,
  #dataend-container #dataend-start {
    margin-top: 15px; }

  #dataend-container #dataend-end {
    font-size: 1.0875em; }

  #dataend-container #dataend-quote {
    font-size: 0.75em;
    margin-top: 7.5px; }

  #dataend-container #dataend-end,
  #dataset-container {
    margin-top: 30px; } }
/* tablet, landscape iPad, lo-res laptops ands desktops (85%) */
@media (min-width: 961px) {
  .dataset .answer {
    font-size: 1.36em; }

  .dataset .question,
  #dataend-container #dataend-start {
    font-size: 0.9775em; }

  .dataset .question,
  .dataset .answer,
  #dataend-container #dataend-start {
    margin-top: 17px; }

  #dataend-container #dataend-end {
    font-size: 1.2325em; }

  #dataend-container #dataend-quote {
    font-size: 0.85em;
    margin-top: 8.5px; }

  #dataend-container #dataend-end,
  #dataset-container {
    margin-top: 34px; } }
/* big landscape tablets, laptops, and desktops (90%) */
@media (min-width: 1025px) {
  .dataset .answer {
    font-size: 1.44em; }

  .dataset .question,
  #dataend-container #dataend-start {
    font-size: 1.035em; }

  .dataset .question,
  .dataset .answer,
  #dataend-container #dataend-start {
    margin-top: 18px; }

  #dataend-container #dataend-end {
    font-size: 1.305em; }

  #dataend-container #dataend-quote {
    font-size: 0.9em;
    margin-top: 9px; }

  #dataend-container #dataend-end,
  #dataset-container {
    margin-top: 36px; } }
/* hi-res laptops and desktops (100%) */
@media (min-width: 1281px) {
  .dataset .answer {
    font-size: 1.60em; }

  .dataset .question,
  #dataend-container #dataend-start {
    font-size: 1.15em; }

  .dataset .question,
  .dataset .answer,
  #dataend-container #dataend-start {
    margin-top: 20px; }

  #dataend-container #dataend-end {
    font-size: 1.45em; }

  #dataend-container #dataend-quote {
    font-size: 1em;
    margin-top: 10px; }

  #dataend-container #dataend-end,
  #dataset-container {
    margin-top: 40px; } }

/*# sourceMappingURL=main.css.map */
