@import url("https://fonts.googleapis.com/css?family=Sniglet:400,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #1abbe6; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none; }

a {
  text-decoration: none; }

input {
  display: inline-block; }

canvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  background-color: white; }
  @media (min-width: 320px) {
    canvas {
      border-left: 0.55px solid #df0c0c;
      border-right: 0.55px solid #df0c0c;
      border-bottom: 0.55px solid #df0c0c; } }
  @media (min-width: 481px) {
    canvas {
      border-left: 0.65px solid #df0c0c;
      border-right: 0.65px solid #df0c0c;
      border-bottom: 0.65px solid #df0c0c; } }
  @media (min-width: 641px) {
    canvas {
      border-left: 0.75px solid #df0c0c;
      border-right: 0.75px solid #df0c0c;
      border-bottom: 0.75px solid #df0c0c; } }
  @media (min-width: 961px) {
    canvas {
      border-left: 0.85px solid #df0c0c;
      border-right: 0.85px solid #df0c0c;
      border-bottom: 0.85px solid #df0c0c; } }
  @media (min-width: 1025px) {
    canvas {
      border-left: 0.9px solid #df0c0c;
      border-right: 0.9px solid #df0c0c;
      border-bottom: 0.9px solid #df0c0c; } }
  @media (min-width: 1281px) {
    canvas {
      border-left: 1px solid #df0c0c;
      border-right: 1px solid #df0c0c;
      border-bottom: 1px solid #df0c0c; } }

#about-wrapper {
  font-family: "Sniglet", serif;
  font-weight: 400; }

#start-container,
#dataend-container,
.dataset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.dataset .answer {
  color: #c80000; }
  @media (min-width: 320px) {
    .dataset .answer {
      font-size: 0.88em; } }
  @media (min-width: 481px) {
    .dataset .answer {
      font-size: 1.04em; } }
  @media (min-width: 641px) {
    .dataset .answer {
      font-size: 1.2em; } }
  @media (min-width: 961px) {
    .dataset .answer {
      font-size: 1.36em; } }
  @media (min-width: 1025px) {
    .dataset .answer {
      font-size: 1.44em; } }
  @media (min-width: 1281px) {
    .dataset .answer {
      font-size: 1.60em; } }
.dataset .question {
  color: black; }

@media (min-width: 320px) {
  .question,
  #dataend-start {
    font-size: 0.6325em; } }
@media (min-width: 481px) {
  .question,
  #dataend-start {
    font-size: 0.7475em; } }
@media (min-width: 641px) {
  .question,
  #dataend-start {
    font-size: 0.8625em; } }
@media (min-width: 961px) {
  .question,
  #dataend-start {
    font-size: 0.9775em; } }
@media (min-width: 1025px) {
  .question,
  #dataend-start {
    font-size: 1.035em; } }
@media (min-width: 1281px) {
  .question,
  #dataend-start {
    font-size: 1.15em; } }

@media (min-width: 320px) {
  .question,
  .answer,
  #dataend-start {
    margin-top: 11px; } }
@media (min-width: 481px) {
  .question,
  .answer,
  #dataend-start {
    margin-top: 13px; } }
@media (min-width: 641px) {
  .question,
  .answer,
  #dataend-start {
    margin-top: 15px; } }
@media (min-width: 961px) {
  .question,
  .answer,
  #dataend-start {
    margin-top: 17px; } }
@media (min-width: 1025px) {
  .question,
  .answer,
  #dataend-start {
    margin-top: 18px; } }
@media (min-width: 1281px) {
  .question,
  .answer,
  #dataend-start {
    margin-top: 20px; } }

#dataend-container #dataend-end {
  color: #c80000;
  font-weight: 400;
  cursor: pointer; }
  @media (min-width: 320px) {
    #dataend-container #dataend-end {
      font-size: 0.7975em; } }
  @media (min-width: 481px) {
    #dataend-container #dataend-end {
      font-size: 0.9425em; } }
  @media (min-width: 641px) {
    #dataend-container #dataend-end {
      font-size: 1.0875em; } }
  @media (min-width: 961px) {
    #dataend-container #dataend-end {
      font-size: 1.2325em; } }
  @media (min-width: 1025px) {
    #dataend-container #dataend-end {
      font-size: 1.305em; } }
  @media (min-width: 1281px) {
    #dataend-container #dataend-end {
      font-size: 1.45em; } }
  #dataend-container #dataend-end:hover {
    color: #df0c0c; }
@media (min-width: 320px) {
  #dataend-container #dataend-quote {
    font-size: 0.55em;
    margin-top: 5.5px; } }
@media (min-width: 481px) {
  #dataend-container #dataend-quote {
    font-size: 0.65em;
    margin-top: 6.5px; } }
@media (min-width: 641px) {
  #dataend-container #dataend-quote {
    font-size: 0.75em;
    margin-top: 7.5px; } }
@media (min-width: 961px) {
  #dataend-container #dataend-quote {
    font-size: 0.85em;
    margin-top: 8.5px; } }
@media (min-width: 1025px) {
  #dataend-container #dataend-quote {
    font-size: 0.9em;
    margin-top: 9px; } }
@media (min-width: 1281px) {
  #dataend-container #dataend-quote {
    font-size: 1em;
    margin-top: 10px; } }

@media (min-width: 320px) {
  #dataend-end,
  #dataset-container {
    margin-top: 22px; } }
@media (min-width: 481px) {
  #dataend-end,
  #dataset-container {
    margin-top: 26px; } }
@media (min-width: 641px) {
  #dataend-end,
  #dataset-container {
    margin-top: 30px; } }
@media (min-width: 961px) {
  #dataend-end,
  #dataset-container {
    margin-top: 34px; } }
@media (min-width: 1025px) {
  #dataend-end,
  #dataset-container {
    margin-top: 36px; } }
@media (min-width: 1281px) {
  #dataend-end,
  #dataset-container {
    margin-top: 40px; } }

@media (min-width: 320px) {
  .header-container {
    border-bottom: 0.55px solid #df0c0c; } }
@media (min-width: 481px) {
  .header-container {
    border-bottom: 0.65px solid #df0c0c; } }
@media (min-width: 641px) {
  .header-container {
    border-bottom: 0.75px solid #df0c0c; } }
@media (min-width: 961px) {
  .header-container {
    border-bottom: 0.85px solid #df0c0c; } }
@media (min-width: 1025px) {
  .header-container {
    border-bottom: 0.9px solid #df0c0c; } }
@media (min-width: 1281px) {
  .header-container {
    border-bottom: 1px solid #df0c0c; } }

.top-header {
  background-color: #10a7d2; }
  @media (min-width: 320px) {
    .top-header {
      border-bottom: 0.55px solid #df0c0c; } }
  @media (min-width: 481px) {
    .top-header {
      border-bottom: 0.65px solid #df0c0c; } }
  @media (min-width: 641px) {
    .top-header {
      border-bottom: 0.75px solid #df0c0c; } }
  @media (min-width: 961px) {
    .top-header {
      border-bottom: 0.85px solid #df0c0c; } }
  @media (min-width: 1025px) {
    .top-header {
      border-bottom: 0.9px solid #df0c0c; } }
  @media (min-width: 1281px) {
    .top-header {
      border-bottom: 1px solid #df0c0c; } }

@media (min-width: 320px) {
  .main-header {
    padding-top: 0.275em; } }
@media (min-width: 481px) {
  .main-header {
    padding-top: 0.325em; } }
@media (min-width: 641px) {
  .main-header {
    padding-top: 0.375em; } }
@media (min-width: 961px) {
  .main-header {
    padding-top: 0.425em; } }
@media (min-width: 1025px) {
  .main-header {
    padding-top: 0.45em; } }
@media (min-width: 1281px) {
  .main-header {
    padding-top: 0.5em; } }

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "Sniglet", serif;
  font-weight: 400; }
  @media (min-width: 320px) {
    .top-nav {
      padding-top: 1.375px;
      font-size: 0.4125em; } }
  @media (min-width: 481px) {
    .top-nav {
      padding-top: 1.625px;
      font-size: 0.4875em; } }
  @media (min-width: 641px) {
    .top-nav {
      padding-top: 1.875px;
      font-size: 0.5625em; } }
  @media (min-width: 961px) {
    .top-nav {
      padding-top: 2.125px;
      font-size: 0.6375em; } }
  @media (min-width: 1025px) {
    .top-nav {
      padding-top: 2.25px;
      font-size: 0.675em; } }
  @media (min-width: 1281px) {
    .top-nav {
      padding-top: 2.5px;
      font-size: 0.75em; } }
  .top-nav a {
    text-align: center;
    display: block;
    color: #040006;
    cursor: pointer; }
    @media (min-width: 320px) {
      .top-nav a {
        padding: 2.75px 6.875px; } }
    @media (min-width: 481px) {
      .top-nav a {
        padding: 3.25px 8.125px; } }
    @media (min-width: 641px) {
      .top-nav a {
        padding: 3.75px 9.375px; } }
    @media (min-width: 961px) {
      .top-nav a {
        padding: 4.25px 10.625px; } }
    @media (min-width: 1025px) {
      .top-nav a {
        padding: 4.5px 11.25px; } }
    @media (min-width: 1281px) {
      .top-nav a {
        padding: 5px 12.5px; } }
    .top-nav a:hover {
      color: white; }

.main-nav {
  font-family: "Sniglet", serif;
  font-weight: 400;
  display: flex;
  justify-content: center; }
  @media (min-width: 320px) {
    .main-nav {
      padding: 5.5px 8.25px;
      margin-left: 2.75px;
      font-size: 0.495em; } }
  @media (min-width: 481px) {
    .main-nav {
      padding: 6.5px 9.75px;
      margin-left: 3.25px;
      font-size: 0.585em; } }
  @media (min-width: 641px) {
    .main-nav {
      padding: 7.5px 11.25px;
      margin-left: 3.75px;
      font-size: 0.675em; } }
  @media (min-width: 961px) {
    .main-nav {
      padding: 8.5px 12.75px;
      margin-left: 4.25px;
      font-size: 0.765em; } }
  @media (min-width: 1025px) {
    .main-nav {
      padding: 9px 13.5px;
      margin-left: 4.5px;
      font-size: 0.81em; } }
  @media (min-width: 1281px) {
    .main-nav {
      padding: 10px 15px;
      margin-left: 5px;
      font-size: 0.9em; } }
  .main-nav a {
    text-align: center;
    display: block; }
    @media (min-width: 320px) {
      .main-nav a {
        padding: 3.85px 12.375px;
        letter-spacing: 0.55px; } }
    @media (min-width: 481px) {
      .main-nav a {
        padding: 4.55px 14.625px;
        letter-spacing: 0.65px; } }
    @media (min-width: 641px) {
      .main-nav a {
        padding: 5.25px 16.875px;
        letter-spacing: 0.75px; } }
    @media (min-width: 961px) {
      .main-nav a {
        padding: 5.95px 19.125px;
        letter-spacing: 0.85px; } }
    @media (min-width: 1025px) {
      .main-nav a {
        padding: 6.3px 20.25px;
        letter-spacing: 0.9px; } }
    @media (min-width: 1281px) {
      .main-nav a {
        padding: 7px 22.5px;
        letter-spacing: 1px; } }
    .main-nav a.active {
      color: white; }
    .main-nav a:not(.active) {
      color: #040006; }
      .main-nav a:not(.active):hover {
        color: #e0e0e0; }

.name {
  margin: 0;
  font-family: "Sniglet", serif;
  font-weight: 800;
  text-align: center;
  display: block;
  color: #df0c0c;
  cursor: default; }
  @media (min-width: 320px) {
    .name {
      font-size: 0.55em;
      padding: 2.75px 4.125px;
      font-size: 1.2375em;
      text-shadow: 1.65px 0.55px 1.65px black; } }
  @media (min-width: 481px) {
    .name {
      font-size: 0.65em;
      padding: 3.25px 4.875px;
      font-size: 1.4625em;
      text-shadow: 1.95px 0.65px 1.95px black; } }
  @media (min-width: 641px) {
    .name {
      font-size: 0.75em;
      padding: 3.75px 5.625px;
      font-size: 1.6875em;
      text-shadow: 2.25px 0.75px 2.25px black; } }
  @media (min-width: 961px) {
    .name {
      font-size: 0.85em;
      padding: 4.25px 6.375px;
      font-size: 1.9125em;
      text-shadow: 2.55px 0.85px 2.55px black; } }
  @media (min-width: 1025px) {
    .name {
      font-size: 0.9em;
      padding: 4.5px 6.75px;
      font-size: 2.025em;
      text-shadow: 2.7px 0.9px 2.7px black; } }
  @media (min-width: 1281px) {
    .name {
      font-size: 1em;
      padding: 5px 7.5px;
      font-size: 2.25em;
      text-shadow: 3px 1px 3px black; } }

#image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; }
  @media (min-width: 320px) {
    #image-container {
      margin-top: 22px; } }
  @media (min-width: 481px) {
    #image-container {
      margin-top: 26px; } }
  @media (min-width: 641px) {
    #image-container {
      margin-top: 30px; } }
  @media (min-width: 961px) {
    #image-container {
      margin-top: 34px; } }
  @media (min-width: 1025px) {
    #image-container {
      margin-top: 36px; } }
  @media (min-width: 1281px) {
    #image-container {
      margin-top: 40px; } }
  #image-container img {
    width: 45%;
    height: 45%;
    border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
