@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800');

/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

html,
body{
	height:100%;
	margin:0;
	padding:0;
}

body {
	background-color: rgb(26,187,230);
}

.top-header {
	background-color: rgb(16,167,210);
	border-bottom: 1px solid rgb(223,12,12);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
   text-decoration: none;
}

canvas {	
	display: flex;
	flex-direction: row;
	justify-content:  center;
	align-items: center;
	padding: 0;
	margin: 0 auto;
	background-color: white;
	border-left: 1px solid rgb(223,12,12);
	border-right: 1px solid rgb(223,12,12);
	border-bottom: 1px solid rgb(223,12,12);
}

input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
#red::-webkit-slider-thumb {
  background: red;
}
#red::-moz-range-thumb {
	background: red;
}
#green::-webkit-slider-thumb {
  background-color: green;
}
#green::-moz-range-thumb {
	background-color: green;
}
#blue::-webkit-slider-thumb {
  background-color: blue;
}
#blue::-moz-range-thumb {
  background-color: blue;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  /* background: #ffffff;  */
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  text-align: center;
  display: block;
  padding: 10px 15px;
  margin-left: 5px;
  font-family: Sniglet;
  font-size: 0.9em;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 7px 22.5px;
	letter-spacing: 1px;
}

.main-nav a.active {
  color: rgb(255,255,255);
}

.main-nav a:not(.active) {
  color: rgb(4,0,6);
}

.main-nav a:not(.active):hover {
  color: rgb(224,224,224);
}

.name {
  font-size: 1em;
  margin: 0;
  font-family: Sniglet;
  font-weight: 800;
  text-align: center;
  display: block;
  padding: 5px 7.5px;
  font-size: 2.25em;
  color: rgb(223,12,12);
  text-shadow: 3px 1px 3px rgb(0,0,0);
  cursor: default;
}

.top-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-top: 2.5px;
}

.top-nav a {
  text-align: center;
  display: block;
  padding: 5px 12.5px;
  color: rgb(4,0,6);
  font-size: .75em;
  font-family: Sniglet;
  font-weight: 400;
  cursor: pointer;
}

.top-nav a:hover {
	color: rgb(255,255,255);
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: 0.5em;
}

.header-container {
	border-bottom: 1px solid rgb(223,12,12);
}

.color {
  width: calc(99% / 3 - 34px);
}

.color:nth-child(2), .color:nth-child(3) {
  margin-left: 50px;
} 

.percentage,
#color-text,
#size-preview {
	height: auto;
	font-size: 1.15em;
	font-family: Sniglet;
	font-weight: 400;
  text-align: right;
  width: 12%;
}

#color-preview {
	width: 30px;
	height: 30px;
	background-color: rgb(223,12,12);
  border-radius: 100%;
}

#color-text {
	width: 30px;
	height: 30px;
	font-size: 1.15em;
	font-family: Sniglet;
}

#size-preview {
	font-size: 1.15em;
	font-family: Sniglet;
	font-weight: 400;
}

#color-container,
#size-container,
#gravity-container,
#bounciness-container,
#friction-container {
	padding-top: 30px;
}

 .title {
	font-size: 1.15em;
	font-family: Sniglet;
  font-weight: 400;
  width: 14%;
}

.settings-component{
  width: 100%;
  margin: 0 auto; 
  min-width: 320px;
}

#settings-wrapper {
  min-width: 320px;
}

#settings-wrapper > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
}

input {
  display: inline-block;
}

#input-container,
#size,
#bounciness,
#friction,
#gravity {
  width: 100%;
}

#color-preview {
    margin-right: 15px;
    vertical-align: middle;
}

#color-details {
  width: 12%;
  text-align: right;
}

#color-details * {
  display: inline-block;
}

#about-wrapper {
  font-size: 1.15em;
	font-family: Sniglet;
  font-weight: 400;
}

#about-wrapper #start-container,
#about-wrapper #dataend-container,
.dataset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dataend-container {
  margin-top: 10px;
}

#dataend-container #dataend-start-text {
  margin-top: 10px;
}

#dataend-container #dataend-end-text {
  margin-top: 40px;
  color: rgb(200,0,0);
  font-size: 1.45em;
  font-weight: 400;
  cursor: pointer;
}

#dataend-container #dataend-end-text:hover {
  color: rgb(223,12,12);
}

#dataend-quote-text {
  font-size: 1em;
  margin-top: 10px;
}

#dataset-container {
  margin-top: 40px;
}

.dataset * {
  margin-top: 10px;
}

.question {
  color: rgb(0,0,0);
}

.answer {
  font-size: 1.60em;
  color: rgb(200,0,0);
}