@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800');

/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

html,
body{
	height:100%;
	margin:0;
	padding:0;
}

body {
	background-color: rgb(26,187,230);
}

.top-header {
	width: 100%;
	height: 32px;
	background-color: rgb(16,167,210);
	border-bottom: 1px solid rgb(223,12,12);
}

.top-nav {
	padding-top: 2.5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
   text-decoration: none;
}

#play-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-top: 25px;
}

canvas {	
	display: flex;
	flex-direction: row;
	justify-content:  center;
	align-items: center;
	padding: 0;
	margin: 0;
	background-color: white;
	border: 1px solid rgb(223,12,12);
}

.settings-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: left;
	padding-top: 30px;
}

input[type=range] {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
#red::-webkit-slider-thumb {
  background: red;
}
#red::-moz-range-thumb {
	background: red;
}
#green::-webkit-slider-thumb {
  background-color: green;
}
#green::-moz-range-thumb {
	background-color: green;
}
#blue::-webkit-slider-thumb {
  background-color: blue;
}
#blue::-moz-range-thumb {
  background-color: blue;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  /* background: #ffffff;  */
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  text-align: center;
  display: block;
  padding: 10px 15px;
  margin-left: 5px;
  font-family: Sniglet;
  font-size: 0.9em;
  font-weight: 400;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 7px 22.5px;
	letter-spacing: 1px;
}

.main-nav a.active {
  color: rgb(255,255,255);
}

.main-nav a:not(.active) {
  color: rgb(4,0,6);
}

.main-nav a:not(.active):hover {
  color: rgb(224,224,224);
}

.name {
  font-size: 1em;
  margin: 0;
  font-family: Sniglet;
  font-weight: 800;
  text-align: center;
  display: block;
  padding: 5px 7.5px;
  font-size: 2.25em;
  color: rgb(223,12,12);
  text-shadow: 3px 1px 3px rgb(0,0,0);
  cursor: default;
}

.top-nav a {
  text-align: center;
  display: block;
  padding: 5px 7.5px;
  color: rgb(4,0,6);
  font-size: .75em;
  font-family: Sniglet;
  font-weight: 400;
  cursor: pointer;
}

.top-nav a:hover {
	color: rgb(255,255,255);
}

video {
	width: 100%;
	max-width: 800px;
	height: auto;
	margin-right: auto;
}

.home-container {
	padding: 1.5em 0;
	margin-bottom: 28px;
}

/* ---- Layout Containers ---- */
.main-header {
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.header-container {
	border-bottom: 1px solid rgb(223,12,12);
}

#red {
	width: 180px;
	height: auto;
}

#blue,
#green {
	margin-left: 25px;
}

#color-slider3 {
	width: 180px;
	height: auto;
	margin-left: 25px;
}

#gravity,
#size,
#bounciness,
#friction {
	width: 570px;
	height: auto;
	margin-left: 30px;
}

#percentage {
	width: 50px;
	height: auto;
	font-size: 1.25em;
	font-family: Sniglet;
	font-weight: 400;
	text-align: center;
	margin-left: 30px;
}

#button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

#save,
#save-play,
#reset {
	width: 150px;
	height: 40px;
	font-size: 1em;
	font-family: Sniglet;
	background-color: rgb(48,113,169);
	color: rgb(255,255,255);
	border-radius: 40px;
	border: 0.2px solid #010101;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	margin-left: 30px;
	outline: none;
	cursor: pointer;
}

#save:hover,
#save-play:hover,
#reset:hover {
	background-color: #367ebd;
}

#color-preview {
	width: 30px;
	height: 30px;
	margin-left: 30px;
	background-color: rgb(223,12,12);
	border-radius: 30px;
}

#color-text {
	width: 30px;
	height: 30px;
		font-size: 1em;
	font-family: Sniglet;
	margin-left: 15px;
}

#size-preview {
	width: 30px;
	height: auto;
	font-size: 1.25em;
	font-family: Sniglet;
	font-weight: 400;
	text-align: center;
	margin-left: 30px;
}

#color-container,
#size-container,
#gravity-container {
	padding-top: 25px;
}

#color-preview,
#color-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}

#title-color {
	font-size: 1.25em;
	font-family: Sniglet;
	font-weight: 400;
	width: auto;
	height: auto;
	text-align: left;
	margin: 0 auto;
		max-width: 85px;
		margin: 0 auto;
}

#title-size {
		font-size: 1.25em;
	font-family: Sniglet;
	font-weight: 400;
	width: auto;
	height: auto;
	text-align: left;
	margin: 0 auto;
		max-width: 35px;
		margin: 0 auto;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
	.top-nav,
	.main-header,
	#play-container {
		width: 80%;
		height: 100%;
		max-width: 1150px;
		margin: 0 auto;
	}

	#input-container {
		width: 80%;
		height: 100%;
		max-width: 850px;
		margin: 0 auto;
	}

	#color-container {
		width: 80%;
		height: 100%;
		max-width: 850px;
		margin: 0 auto;
	}

	#size-container,
	#gravity-container {
		width: 80%;
		height: 100%;
		max-width: 850px;
		margin: 0 auto;
	}

	#title-color {
		font-size: 1.15em;
		width: 80%;
		height: 100%;
		max-width: 85px;
		margin: 0 auto;
	}

	#color-preview {
		width: 80%;
		height: 25px;
		max-width: 25px;
		margin: 0 auto;
	}

	canvas {
		width: 80%;
		height: 100%;
		max-width: 850px;
		margin: 0 auto;
	}
	
	#play-container,
	#color-container,
	#size-container,
	#gravity-container,
	canvas {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

@media (min-width: 768px) {
	input[type=range] {
		width: 20%;
	}
	.top-header,
	.top-nav,
	.main-header,
	.main-nav,
	canvas,
	#play-container,
	#color-container,
	#input-container,
	#color-preview,
	#color-text,
	#size-container,
	#gravity-container {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}
	.top-nav,
	#color-preview,
	#color-text {
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}
	#color-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
		#size-container {
					flex-direction: row;
		justify-content: space-around;
		align-items: center;
		}
	#input-container {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

@media (min-width: 1025px) {
	input[type=range] {
		width: 25%;
	}
	.home-container,
	#color-container,
	#input-container,
	#size-container,
	#gravity-container {
		display: flex;
	}
	#color-preview,
	#color-text {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.main-header {
		flex-direction: row;
		align-items: flex-start;
	}
	.top-nav {
		flex-direction: row;
		justify-content: flex-end;
		align-items: left;
	}
	#color-container,
	#input-container,
	#size-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
		#title-color {
		font-size: 1.25em;
		width: 80%;
		height: 100%;
		max-width: 85px;
		margin: 0 auto;
	}
		#color-preview,
		#color-text {
		width: 80%;
		height: 30px;
		max-width: 30px;
		margin: 0 auto;
	}
}

.notfound-wrap {
		width: 50px;
	height: auto;
	font-size: 2em;
	font-family: Sniglet;
	font-weight: 400;
	text-align: center;
	margin-left: 30px;
	display: inline-block;
	display: flex;
			flex-direction: row;
		justify-content: center;
		align-items: center;
				width: 80%;
		height: 100%;
		max-width: 1150px;
		margin: 0 auto;
		color: rgb(223,12,12);
}