/* ================================= 
   NotFound
==================================== */

#image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
}
  
#image-container img {
  width: 45%;
  height: 45%;
  border-radius: 50%;
}