// ================================= 
//   MIXINS
// =================================

// Reusable canvas border
@mixin canvasBorder($width) {
    border-left: $width solid $color-primary;
    border-right: $width solid $color-primary;
    border-bottom: $width solid $color-primary;
}

// Create a flex container
@mixin flexProps(
    $disp: flex, 
    $dir: null, 
    $just: null, 
    $align: null) {
    display: $disp;
	flex-direction: $dir;
	justify-content: $just;
	align-items: $align;
}