// ================================= 
//   VARIABLES
// =================================

// Google Font
@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800');

// Standard Color
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Custom Color
$color-primary: rgb(223, 12, 12);
$color-secondary: rgb(200, 0, 0);

// Font Family
$font-stack-primary: 'Sniglet', serif;

// Font Weight
$weight-xs: 300;
$weight-s: 400;
$weight-m: 500;
$weight-l: 600;
$weight-xl: 700;
$weight-xxl: 800;

// Breakpoint
$break-xs: 320px;
$break-s: 481px;
$break-m: 641px;
$break-l: 961px;
$break-xl: 1025px;
$break-xxl: 1281px;